version: "3.8"

services:
  database:
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
  adminer:
    image: adminer
    ports:
      - "8080:8080"
